/* External Resources */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif; 
*/

/* Variables */
:root {
  font-size: 10px;
  --ff-title: 'PT Serif', serif;
  --ff-primary: 'Poppins', sans-serif;
  --ff-footer: 'Montserrat', sans-serif;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --color-primary: black;
  --color-gray: #A9A9A9; 
  --fs-default: clamp(1.6rem, 5vw, 2.4rem);  /* 16px to 24px based on screen size */
  --fs-small: calc(var(--fs-default) * .6);  /* Roughly about 9.6px to 14.4px */
  --fs-large: calc(var(--fs-default) * 1.5);  /* 20px to 30px */
  --fs-larger: calc(var(--fs-default) * 3);  /* minimum 32px to maximum 48px  */
  --padding-default: clamp(5px, 5vw, 150px);
  --padding-short: 15px;
  --margin-default: clamp(15px, 5vw, 60px);
  --margin-short: 5px;
  --margin-extended: clamp(90px, 5vw, 150px);
}


/* Global Styles */
h1 {
  font-family: var(--ff-title);
  font-size: var(--fs-larger);
  font-weight: var(--fw-bold);
  color: var(--color-primary);
  line-height: 1.15;
}

h2 {
  font-family: var(--ff-primary);
  font-size: var(--fs-large);
  font-weight: var(--fw-semiBold);
  color: var(--color-primary);
}

p {
  font-family: var(--ff-primary);
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  color: var(--color-primary);
  margin-top: var(--margin-short);
  line-height: 1.75;
}


figcaption {
  font-family: var(--ff-title);
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
  color: var(--color-primary);
}

/* Local Styles */
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  color: var(--color-primary);
  margin: auto;
  padding: var(--padding-default);
}

.hero {
  margin-top: var(--margin-default);
}

.hero-heading {
  text-transform: uppercase;
}


.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-top: var(--margin-extended);
  margin-right: var(--margin-default);  
  /* when i rotated the '.imageWrapper>figcaption' clockwise it jumped out of the content flow & overflowed. this margin would give that element a breathing space */
}

.card {
  margin-top: var(--margin-default);
  margin-bottom: var(--margin-default);
}

.imageWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.imageWrapper figcaption {
  writing-mode: vertical-rl;  /* transform property didn't work here accordingly so used writing mode instead */
  text-transform: uppercase;
  margin-left: var(--margin-short);  /* just to push it a little  */
}

.name {
  text-transform: capitalize;
  font-weight: var(--fw-semiBold);
  margin-top: var(--margin-short);
}


footer {
  font-family: var(--ff-footer);
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
  color: var(--color-gray);
  text-align: center;
  margin-top: var(--margin-extended);
}

footer a {
  font-weight: var(--fw-bold);
  color: var(--color-gray);
}

@media only screen and (min-width: 760px) {

  .cardsWrapper {
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 0;
    /* previous margin was only for mobile view */

  }

  .card {
    max-width: 40%;
    margin-top: 0;
    /* resets the previous value */
  }

  .card:nth-child(even) {
    margin-top: var(--margin-extended);
  }

 

}

@media only screen and (min-width: 960px) {

  body {
    max-width: 1440px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .title {
    flex-basis: 40%;
  }

  .hero {
    flex-basis: 50%;
    margin-top: auto;
  }

  .card {
    max-width: 30%;
    margin-top: 0;
      /* Resets previous margin */
  }

  .card:nth-child(even) {
    margin-top: 0;
    /* Resets previous value */
  }

  .card:nth-child(3n + 2) {
    margin-top: var(--margin-extended);
  }

  .imageWrapper img {
    max-width: 90%;
  }
}

